@font-face {
    font-family: "Roboto-Bold";
    src: local(Roboto/Roboto-Bold) format("truetype");

}

@font-face {
    font-family: "Roboto-Light";
    src: local(Roboto/Roboto-Light) format("truetype");

}

@font-face {
    font-family: "Roboto-Medium";
    src: local(Roboto/Roboto-Medium) format("truetype");

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 10px;
    border: 1px solid #3782f5;
    background-color: #3782f5;
    color: white;
    font-family: "Roboto-Bold" Arial, Helvetica, sans-serif;
    width: 100px;
    padding: 5px;
}

input:hover {
    background-color: #1f2936;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px;

}

header {

    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

        
    ul {
        padding: 15px;
        margin: 0px auto 0px auto;
        border-bottom: 1px solid #ffffff;
        text-align: center;
    }
    li {
        display: inline;
        margin: 0px 3px;
    }

    a {
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 6px 18px 5px 18px;
    }
    a:hover, a.on {
        color: #e61ab7;
    }
}


#page{
    background-color: #1f2936;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    align-items: right;
    color: white;
    
}


#section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 120px;

    .text {
        display: flex;
        flex: 50%;
        padding: 1rem 2rem;
        flex-direction: column;
        max-width: 250px;
        margin-right: 30px;

        
        h1 {
            font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
            font-weight: 900;
            font-size: 200%;
                
        }


        #signup1 {
            margin-top: 10px;
            cursor: pointer;
        }

    }

    .ppg {
        img {
        allign-item: right;
        left: 900px;
        top:300px;
        width: 300px;
        height: 300px;

        }
    
    }
}

.titleinfo {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
    text-align: center;
}

#section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: 10px;

    .box1 {
        display: flex;
        flex: 50%;
        flex-direction: column;
        border: 2px solid #3782f5;
        border-radius: 10px;
        width: auto; 
        max-width: 400px;
        height: 200px;
        max-height: auto;
        margin-right: 50px;
        margin-bottom: 50px;

    }

    .box2 {
        display: flex;
        width: auto;
        max-width: 410px;
        max-height: fit-content;
        height: 210px;
        flex: 50%;
        border-radius: 10px;
        flex-direction: column;
        margin-bottom: 50px;
        margin-right: 50px;

        p {
            text-align: justify;
            margin: auto;
            font-size: 125%;
        }
        
    }
}

#section4 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 60px 60px;
    padding: 15px 15px;
    background-color: lightgray;
    align-items: center;
   

    p {
        text-align: left;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        text-shadow: 1px 1px 2px grey;
        font-size:x-large;
    }
    
    cite {
        display: block;
        font-weight: bold;
        font-size: large;
        font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
        text-shadow: none;
        max-width: 500px;
        text-align: right;
        margin-left: auto;
        margin-right: auto;
    }

}

#signupbutton {
   border: 2px solid #3782f5; 
   border-radius: 15px;
   padding: 10px;
   background-color: #3782f5;
   text-align: left;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   width: 600px;
   height: 60px;
   margin: auto;
   

   h4 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: 35px;
   }

   p {
    color: #fff;
    margin-left: 35px;
   }

   input {
    float: right;
    margin-top: -55px;
    margin-right: 50px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #3782f5;
    color: white;
    width: 100px;
   } 

   input:hover {
    background-color: #1f2936;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;

}
   
}


#copyright {
    margin-top: 50px;
    background-color: #1f2936;
    color: #ffffff;
    padding: 50px 50px;
    clear: both;
    p{ text-align: center;
    }

}


#main-container {

    margin-top: 100px;
    margin-bottom: 50px;

    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        
    }

    article {
        width: 30%;
        height: 200px;
        padding: 1.5%;
        border: 1px solid #000;
        float: left;
    }

}


#weather-container {
    margin-top: 100px;
    margin-bottom: 50px;

    .container2 {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        
    }

    article {
        width: 30%;
        height: 200px;
        padding: 1.5%;
        border: 1px solid #000;
        float: left;
    }
}
